*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
html{
  font-size:16px;

}
body{
  display:flex;
  flex-direction:column;
  margin:0;
  background:#eee;
  width:100vw;
}
header{
  background:#bcb;
  
}
h1{
  font-size:clamp(2rem, 1.5rem + 3vw);
}
 h2, h3{
  padding:5px;
  margin-bottom:5px;
  text-align:center;
}
ul{
  width:100%;
  padding:10px;
}
header, #navbar{
  text-align:center;
  margin:0 auto 0;
  width:100%; 
}

#navbar li{
  width:15vw;
  list-style:none;
  border:1px solid black;
  margin: 10px auto 0;
  padding:10px 2px;
  background:bisque;
}

#navbar ul{
  background-color:#2aa;
  padding:10px 0;
  }
a{
  text-decoration:none;
 
}
#navbar li:hover {
  background:#44d;
  a{color:#fff;}
}

code{
  background:#ee1
}
p{
  margin:0 auto;
  text-align:left;
}

section >ul, section>p , pre {
  margin:0 auto 20px;
  padding:10px auto;
  width:90vw
}

@media only screen and (min-width:700px){
  body{
    flex-direction:row;
  }
  #navbar{
    height:100vh;
    width:20vw;
    position:sticky;
    top:0;
    
  }
  #navbar ul{
    height:100vh
  }
  #navbar li{
    margin-bottom:30px;
  }
  
  section >ul, section>p , pre {
  margin:0 auto 20px;
  padding:10px 0 0 50px;
  
}
.main-section {
  border-left:1px solid black
}
}

