*{
  box-sizing:border-box;
  padding:0;
  margin:0;

}
html{
  font-size:16px;

}
body{
  display:flex;
  flex-direction:column;
  margin:0;
  background:#eee;
  width:100%;
  
}
header{
  background:#bcb;
  
}
h1{
  font-size:clamp(2rem, 1.5rem + 3vw);
}
 h2, h3{
  padding:5px;
  margin-bottom:5px;
  text-align:center;
}
ul{
  width:100%;
  padding:10px;
}
header, #navbar{
  text-align:center;
  margin:0 auto 0;
  width:100%; 
}

#navbar li {
  list-style: none;
  border: 1px solid black;
  margin: 10px 5px 0;
  background: bisque;
  padding: 0;             
}

#navbar a {
  display: block;          
  width: 100%;           
  height: 100%;
  padding: 10px 2px;       
  text-decoration: none;
  color: inherit;
}

#navbar ul{
  background-color:#2aa;
  padding:10px 0;
  }

#navbar li:hover {
  background:#44d;
}

#navbar li:hover a {
  color:#fff;
}
code{
  background:#ee1
}
p{
  margin:0 auto;
  text-align:left;
}

section >ul, section>p , pre {
  margin:0 auto ;
  padding:10px auto 20px;
  flex:1;
  min-width:0;
}

@media only screen and (min-width:700px){
  body{
    flex-direction:row;
  }
  #navbar{
    height:100vh;
    width:20vw;
    position:sticky;
    top:0;
    
  }
  #navbar ul{
    height:100vh;
    width:20vw;
  }
  #navbar li{
    margin-bottom:30px;
  }
  
  section >ul, section>p , pre {
  margin:0 auto ;
  padding:10px 5px 20px 50px;
  
}
.main-section {
  border-left:1px solid black
}
}

