
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  text-align:center;
}
h1{
  margin:20px auto;
  font-weight:bold;
  text-decoration: underline;
}

.pricing-container{
  display:flex;
  flex-wrap:wrap;
  margin:0 30px;
}
.pricing-card{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  flex:0 0 200px;
  border: 2px solid black;
  margin:30px 5px;
  padding:2px 15px;
  height:350px;
}
.pricing-card:hover{
  
  transform:scale(1.1);
  background-color:#eff;
  
}
.price{
  font-size:1.5em;
  text-decoration: underline grey;
}
p{
  margin:5px auto;
}
.basic-plan{
  order:0;
}
.pro-plan{
  order:1;
  flex-grow:2;
}
.premium-plan{
  order:2;
}
.tick{
  margin-right:10px;
  border:2px solid #00ee00;
  color:#0e0
}
.cross{
  margin-right:10px;
  border:2px solid #d22;
  color:#d22
}
.pay-btn{
  width:100px;
  margin:10px auto 20px;padding:5px 10px;
  background-color:gold;
  border-radius:20px;
}
.pay-btn:hover{
  cursor:pointer;
  transform:scale(1.2)
}

