
body{
  box-sizing:border-box;
}
#email{

  padding:50px;
  margin:50px auto;
  width:500px;
  border:2px;
  box-sizing:border-box;
  background-color:bisque;
}
#confidential{
  display:inline-block;
  padding:1px 15px;
  margin-left:10px;
  border:3px solid red;
  transform:translate(200px, 75px) rotate(25deg);
  font-size:1.5em;
  font-weight:bolder;
  color:red;
}
#top-secret{
  display:inline-block;
  padding:2px 15px;
  margin-left:10px;
  border:3px solid red;
  transform:translate(50px, -125px)rotate(-32deg);
  font-size:1.4em;
  font-weight:bolder;
  color:red;
}
p{
  font-size:1.1em
}
.blurred{
  filter:blur(3px)
}

